.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;

}
table td,table th{
  border: 1px solid #ddd;
  padding: 8px;
  position:relative;
}

.seperate::after{
  content:"";
  border-right: 1px solid #ddd;
  position: absolute;
  height: 70%;
  top: 0;
  right: 0;
  transform:translateY(25%);
}
.scroll {
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    float: right;
  }
.scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
  }
.scroll::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
  }
.scroll::-webkit-scrollbar-thumb:hover{
  	background: rgba(0,0,0,0.4);
  }
.scroll::-webkit-scrollbar-thumb:active{
  	background: rgba(0,0,0,.9);
  }
@keyframes Dropdown{
  from {
    transform: translateY(-50px);
  }
  to{
    transform: translateY(0);
  }
}

.animate-dropdown{
  animation: Dropdown 0.4s ease-in-out;
}
.modal-blur{
  background: rgba(66, 82, 110, 0.4);
}

.pagination-active{
  border:1px solid #1890FF;
}
